@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-white font-sans antialiased;
    font-weight: 300;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }
}
